/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/04/2017, 21:38:39
    Author     : Everton Roberto
*/

@import "comum/_mixins.scss";
@import "comum/_main.scss";
@import "comum/_card.scss";
@import "comum/_table.scss";
@import "comum/_reset.scss";

.main{
    .btn-editar-cliente{
        line-height: 0;
        i{
            margin-left: 10px;
        }
    }
    div.collapsible-header{
        i,span{
            color: $azul;
        }
    }
}

